body {
  background-color: Aquamarine;
  font-family: Verdana, Helvetica, Bookman;
  color: Black;
}

hr {
  background-color: black;
}
a:link {
  color: black;
}
a:visited {
  color: skyblue;
}
a:hover {
  color: black;
}
